* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.description {
  border: 1px solid black;
  width: 90%;
}

.food-image {
  border-radius: 20px;
}

#container {
  width: 100%;
}

#header {
  padding: 5px 0;
}

#main-container {
  margin-top: 20px;
}

#search-bar {
  border: 1px solid black;
  margin-top: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#input-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#suggestion {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}

#footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  background-color: white;
  color: black;
  font-size: large;
  padding: 10px;
}

#api-call {
  margin-top: 10px;
}
