.center {
  text-align: center;
}

#container {
  border: 1px solid black;
}

#header {
  border: 1px solid black;
  padding: 5px 0;
}

#main-container {
  border: 1px solid black;
  margin-top: 20px;
}

#search-bar {
  border: 1px solid black;
  margin-top: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#input-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#ingredient {
  border: 1px solid black;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#food-image {
  border: 1px solid black;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#procedure {
  border: 1px solid black;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  border: 1px solid black;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: grey;
  color: white;
}

#api-call {
  border: 1px solid black;
  margin-top: 10px;
}